
# Docker stuffs
/docker-compose.yml
/.env

# Python stuffs
*.pyc
__pycache__
/build/
/dist/
/*.egg-info

# vscode stuffs
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
.history/
*.vsix

